.imageHere {
    position: relative;
    z-index: 1;
  }
  
  .imageHere::before {
    content: '';
    background: url('../../assets/chicago-booth-construction.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0.5; 
    z-index: -1;
  }
  
  .mainContent {
    position: relative;
    z-index: 2;
  }
  
  .footerContainer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 3;
  }
  