.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.my-card {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  width: 100%; /* Ensure the card takes 100% width of its container */
}

/* Add media queries for responsive design */
@media (max-width: 768px) {
  .my-card {
    /* Adjust styles for smaller screens */
  }
}

.my-card a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

.my-card h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.my-card img {
  width: 100%; /* Ensure the image takes 100% width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%;
  object-fit: cover;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.my-card .article-body {
  padding: 24px;
}

.my-card a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

.my-card a:focus {
  outline: 1px dotted #28666e;
}

.my-card a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.my-card:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.animated-card {
  transition: transform 500ms ease-in-out;
}

.animated-card:hover {
  transform: scale(1.05);
}

.animated-card .card__content,
.animated-card .card__title::after,
.animated-card .card__background,
.animated-card .card__content--container > :not(.card__title),
.animated-card .card__button {
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.animated-card:hover .card__content {
  transform: translateY(0);
}

.animated-card:hover .card__background {
  transform: scale(1.3);
}

.animated-card:hover .card__content--container > :not(.card__title),
.animated-card:hover .card__button {
  opacity: 1;
  transform: translateY(0);
}

.animated-card:hover .card__title::after {
  opacity: 1;
  transform: scaleX(1);
}
